@CHARSET "UTF-8";

* {
    box-sizing: border-box;
}

body {
    background-color: #E5FFE5;
    width: 960px;
    margin: 15px auto; /* 左右のマージンをautoにして中央寄せに修正 */
    margin-top: 60px;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
     position: relative; /* bodyを相対的な位置に設定 */
}

h1 {
    text-align: center;
}

.btn {
    text-decoration: underline;
}


/*テーブル設定*/

table{
	border: 3px solid #a9a9a9;
    width: 700px;
    margin: 20px;
}

table th {
    background-color: #99FFCC;
    width: 250px;
    color: cadetblue;
}

table td {
    background-color: #f0fff0;
    width: 550px;
}

table th,
table td {
    border-bottom: 2px solid #a9a9a9;
    padding: 10px; /* 枠線指定 */
}

table tr:last-child * {
    border-bottom: none;
}


.return-btn {
    /* 戻るボタンのスタイル */
    position: absolute; /* 絶対位置に配置 */
    top: 15px; /* 上から15pxの位置に配置 */
    left: 15px; /* 左から15pxの位置に配置 */
    margin-bottom: 10px;
    background-color: #808080;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}


.square_btn {
	/* ☒ボタンのスタイル */
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #333;
    background: #fff;
    float: right;
}

.square_btn::before,
.square_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 27px;
    background: #333;
}

.square_btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.square_btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}




/*--- login.jspのスタイル ---*/
.login-box {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
}

.login-box>form {
    display: flex;
    flex-direction: column;
}

.login-input {
    margin-top: 10px;
}

.login-box>label {
    margin-bottom: 5px;
}

.login-email,
.login-pass {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

.login-btn {
    margin-top: 20px;
    text-align: center;
}

.login-btn input {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

.login-btn input:active {
    top: 3px;
    box-shadow: none;
}

.registration {
    margin-top: 20px;
    text-align: center;
}

.registration a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.registration a:hover {
    text-decoration: underline;
}


/*--- main.jspのスタイル ---*/
.tournament {
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.schedule {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.schedule > div {
    margin: 0 10px;
}

.date-center {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}

.main_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*--- signup.jspのスタイル ---*/
.container {
    width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
}

.container>form {
    display: flex;
    flex-direction: column;
}

.signup-container .signup-label,
.signup-label {
    margin-top: 10px;
}

.signup-container .custom-input,
.custom-input {
    padding: 10px;
    margin-top: 5px;
}

.signup-container .submit-button,
.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}


/*--- memberInformation.jspのスタイル ---*/

.member-selection {
    display: flex;
    gap: 10px; /* ボタン間の隙間を設定 */
}

.member-selection form {
    margin: 0; /* フォームの余白をリセット */
}

.memberinfo-else {/*ログイン前*/
    font-size: 20px;
}

.member-selection button {
    /* ボタンのスタイル */
    padding: 10px 15px;
    background-color: #808080;
	width: 120px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 50px;
}

.member-selection button:hover {
    background-color: #555;
}


/*--- ticketApplication.jspのスタイル ---*/
.content-selection {
    /* h2のスタイル */
    background-color: #ffe4c4;
    color: #808080;
    padding: 5px;
    font-size: 25px;
    margin-top: 0;
    border-radius: 30px;
}

.seat-selection {
    background-color: #fff5ee;
    width: 800px;
    margin-left: 75px;
    border: 3px solid #a9a9a9;
    border-radius: 20px;
}

.ticket-element {
    margin: 18px;
}

.tiket-soldout {
    color: #dc143c;
    font-size: 20px;
}

.choice-button {
    margin: 10px;
    border: 3px solid transparent;
    color: #ffffff;
    background: #808080;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    /* other styles */
}

.choice-button:hover {
    background: transparent;
    color: #222;
    border-color: #696969;
    background: #c0c0c0;
}


/*--- tiketPurchase.jspのスタイル ---*/
.pre-order {
    border: 3px solid #a9a9a9;
    box-shadow: 0px 0px 15px #a9a9a9;
    margin: 20px;
    margin-left: 75px;
    border-left: solid 15px #696969;
    padding: 10px;
    width: 800px;
    background: #f0f8ff;
    font-weight: bold;
}

.now-reception {
    color: #008080;
    background-color: #ccffcc;
    font-weight: bold;
    margin-right: 500px; /* テキストとボタンの間隔を調整 */
    margin-left: 20px;
    border: 2px solid #66cdaa;
    padding: 5px;
}


.before-reception {
    color: #696969;
    background-color: #ffcccc;
    font-weight: bold;
    margin-right: 500px; /* テキストとボタンの間隔を調整 */
    margin-left: 20px;
    border: 2px solid #ffcccc;
    padding: 5px;
}

.apply {
    display: flex;
    align-items: center;
}

.apply-btn {
    margin-right: 0; /* ボタンを右端に配置 */
    margin-bottom: 10px;
    background-color: #808080;
    color: white;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


/*--- ticketSelectAll.jspのスタイル ---*/
.seat-type-img{
	width:80%;
	height:10%;
}

