@CHARSET "UTF-8";
@media screen and (min-width:768px) {

		/* PC用CSS記述 */
	* {
	    box-sizing: border-box;
	}

	body {
	    background-color: #f2fffc;
	    width: 960px;
	    margin: 15px auto; /* 左右のマージンをautoにして中央寄せに修正 */
	    margin-top: 60px;
	    padding: 0;
	    font-family: 'Arial', sans-serif;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	     position: relative; /* bodyを相対的な位置に設定 */
	}

	h1 {
	    text-align: center;
	}

	h2 {
	    text-align: center;
	}

	.btn {
	    text-decoration: underline;
	}


	/*テーブル設定*/

	table{
		border: 3px solid #a9a9a9;
	    width: 700px;
	    margin: 20px;
	}

	table th {
	    background-color: #99FFCC;
	    width: 250px;
	    color: cadetblue;
	}

	table td {
	    background-color: #f0fff0;
	    width: 550px;
	}

	table th,
	table td {
	    border-bottom: 2px solid #a9a9a9;
	    padding: 10px; /* 枠線指定 */
	}

	table tr:last-child * {
	    border-bottom: none;
	}

	.home-btn{
		/* その他ボタン */
	    border: 3px solid transparent;
	    margin: 15px auto; /* 左右のマージンをautoにして中央寄せに修正 */
	    display: flex;
	    color: #ffffff;
	    background: #808080;
	    padding: 8px 10px;
	    cursor: pointer;
	    border-radius: 5px;
	    /* other styles */
	    align-items: center;
	    position: relative; /* bodyを相対的な位置に設定 */
	}
	.home-btn:hover{
		background-color:#555;
	}


	.return-btn {
	    /* 戻るボタンのスタイル */
	    position: absolute; /* 絶対位置に配置 */
	    top: 15px; /* 上から15pxの位置に配置 */
	    left: 15px; /* 左から15pxの位置に配置 */
	    margin-bottom: 10px;
	    background-color: #808080;
	    color: white;
	    padding: 10px 15px;
	    border: none;
	    cursor: pointer;
	    border-radius: 20px;
	}
	.return-btn:hover{
		background-color:#555;
	}

	.square_btn {
		/* ☒ボタンのスタイル */
	    display: block;
	    position: relative;
	    width: 30px;
	    height: 30px;
	    border: 2px solid #333;
	    background: #fff;
	    float: right;
	}

	.square_btn::before,
	.square_btn::after {
	    content: "";
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    width: 3px;
	    height: 27px;
	    background: #333;
	}

	.square_btn::before {
	    transform: translate(-50%, -50%) rotate(45deg);
	}

	.square_btn::after {
	    transform: translate(-50%, -50%) rotate(-45deg);
	}




	/*--- login.jspのスタイル ---*/
	.login-box {
	    width: 400px;
	    margin: 30px auto;
	    padding: 20px;
	    border: 1px solid #ccc;
	    box-shadow: 0px 0px 10px #ccc;
	}

	.login-box>form {
	    display: flex;
	    flex-direction: column;
	}

	.login-input {
	    margin-top: 10px;
	}

	.login-box>label {
	    margin-bottom: 5px;
	}

	.login-email,
	.login-pass {
	    padding: 10px;
	    margin-top: 5px;
	    width: 100%;
	    box-sizing: border-box;
	}

	.login-btn {
	    margin-top: 20px;
	    text-align: center;
	}

	.login-btn input {
	    padding: 10px 20px;
	    background-color: #000;
	    color: white;
	    border: none;
	    cursor: pointer;
	}

	.login-btn input:active {
	    top: 3px;
	    box-shadow: none;
	}

	.registration {
	    margin-top: 20px;
	    text-align: center;
	}

	.registration a {
	    text-decoration: none;
	    color: #000;
	    font-weight: bold;
	}

	.registration a:hover {
	    text-decoration: underline;
	}


	/*--- main.jspのスタイル ---*/
	.tournament {
	    text-align: center;
	    font-size: 30px;
	    margin: 20px 0;
	    display: flex;
	    justify-content: center;
	}

	.schedule {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin-bottom: 10px;
	    flex-wrap: wrap;
	}

	.schedule > div {
	    margin: 0 10px;
	}

	.date-center {
	    text-align: center;
	    font-size: 18px;
	    margin: 20px 0;
	}

	.main_display {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	}



	/*--- memberInformation.jspのスタイル ---*/

	.member-selection {
	    display: flex;
	    gap: 10px; /* ボタン間の隙間を設定 */
	}

	.member-selection form {
	    margin: 0; /* フォームの余白をリセット */
	}

	.memberinfo-else {/*ログイン前*/
	    font-size: 20px;
	}

	.member-selection button {
	    /* ボタンのスタイル */
	    padding: 10px 15px;
	    background-color: #808080;
		width: 150px;
	    color: white;
	    border: none;
	    cursor: pointer;
	    border-radius: 5px;
	    margin: 50px;
	}

	.member-selection button:hover {
	    background-color: #555;
	}


	/*--- purchaseHistory.jspのスタイル  ---*/
	.history-list{
		text-align:center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 800px;
	}

	.history-list td{
		text-align:center;
	    white-space: normal; /* テキストが領域外にはみ出した場合、折り返し表示する */
	}


	/*--- signup.jspのスタイル ---*/
	.container {
	    width: 600px;
	    margin: 30px auto;
	    padding: 20px;
	    border: 1px solid #ccc;
	    box-shadow: 0px 0px 10px #ccc;
	}

	.container>form {
	    display: flex;
	    flex-direction: column;
	}

	.signup-container .signup-label,
	.signup-label {
	    margin-top: 10px;
	}

	.signup-container .custom-input,
	.custom-input {
	    padding: 10px;
	    margin-top: 5px;
	}

	.signup-container .submit-button,
	.submit-button {
	    margin-top: 20px;
	    padding: 10px 20px;
	    background-color: #000;
	    color: white;
	    border: none;
	    cursor: pointer;
	}


	/*--- ticketApplication.jspのスタイル ---*/
	.content-selection {
	    /* h2のスタイル */
	    background-color: #ffe4c4;
	    color: #808080;
	    padding: 7px;
	    font-size: 25px;
	    margin-top: 0;
	    border-radius: 15px;
	    text-align: left;
	}

	.seat-selection {
	    background-color: #fff5ee;
	    width: 700px;
	    margin-left: 75px;
	    border: 3px solid #a9a9a9;
	    border-radius: 20px;
	     margin: 15px auto; /* 左右のマージンをautoにして中央寄せに修正 */
	}

	.ticket-element {
	    margin: 18px;
	}

	.tiket-soldout {
	    color: #dc143c;
	    font-size: 20px;
	}

	.choice-button {
	    margin: 10px;
	    border: 3px solid transparent;
	    color: #ffffff;
	    background: #808080;
	    padding: 10px 15px;
	    cursor: pointer;
	    border-radius: 20px;
	    /* other styles */
	}

	.choice-button:hover {
	    background-color: #555;
	}


	/*---ticketConfirm.jspのスタイル ---*/
	.ticket-selectmenu  {
	    /* ボタンのスタイル */
	    padding: 10px 15px;
	    background-color: #808080;
		width: 170px;
	    color: white;
	    border: none;
	    cursor: pointer;
	    border-radius: 5px;
	    margin: 50px;
	    flex: 1; /* ボタンを同じサイズにするための追加 */
	    margin: 20 5px; /* ボタンの間に余白を設定 */
	}

	.ticket-selectmenu:hover {
	    background-color: #555;
	}

	/* ボタンを横並びにするためのスタイル */
	.button-container {
	    display: flex;
	    justify-content: space-between;
	}


	/*--- ticketDisplay.jspのスタイル ---*/
	.ticket-list {
	    border: 3px solid #a9a9a9;
	    box-shadow: 0px 0px 15px #a9a9a9;
	    margin: 20px;
	    margin-left: 75px;
	    border-left: solid 15px #696969;
	    padding: 10px;
	    width: 800px;
	    background: #f0f8ff;

	}

	.ticket-show {
	  display: flex;
	  justify-content: space-between;
	}

	.ticket-item {
	  width: 70%;
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}

	.ticket-btn {

	}
	.ticketElement-btn{
	    border: 3px solid transparent;
	    margin: 5px;
	    margin-right: 30px;
	    color: #ffffff;
	    background: #808080;
	    padding: 5px 5px;
	    cursor: pointer;
	    border-radius: 5px;
	    width: 80px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.ticketElement-btn:hover{
		background-color:#555;
	}



	/*--- tiketPurchase.jspのスタイル ---*/
	.pre-order {
	    border: 3px solid #a9a9a9;
	    box-shadow: 0px 0px 15px #a9a9a9;
	    margin: 20px;
	    margin-left: 75px;
	    border-left: solid 15px #696969;
	    padding: 10px;
	    width: 800px;
	    background: #f0f8ff;
	    font-weight: bold;
	}

	.now-reception {
	    color: #008080;
	    background-color: #ccffcc;
	    font-weight: bold;
	    margin-right: 500px; /* テキストとボタンの間隔を調整 */
	    margin-left: 20px;
	    border: 2px solid #66cdaa;
	    padding: 5px;
	}


	.before-reception {
	    color: #696969;
	    background-color: #ffcccc;
	    font-weight: bold;
	    margin-right: 500px; /* テキストとボタンの間隔を調整 */
	    margin-left: 20px;
	    border: 2px solid #ffcccc;
	    padding: 5px;
	}

	.apply {
	    display: flex;
	    align-items: center;
	}

	.apply-btn {
	    margin-right: 0; /* ボタンを右端に配置 */
	    margin-bottom: 10px;
	    background-color: #808080;
	    color: white;
	    padding: 15px 25px;
	    border: none;
	    cursor: pointer;
	    border-radius: 5px;
	}
	.apply-btn:hover{
		background-color:#555;
	}


	/*--- ticketSelectAll.jspのスタイル ---*/
	.seat-type-img{
		width:80%;
		height:10%;
	}


	/*--- ticketShare.jspのスタイル ---*/
	.shared-link{
	    text-align:center;
	    width: 85%; /*親要素いっぱい広げる*/
	    padding: 10px 10px; /*ボックスを大きくする*/
	    font-size: 16px;
	    border-radius: 3px; /*ボックス角の丸み*/
	    border: 2px solid #ddd; /*枠線*/
	    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
	}

	.ticket-shard{
		width: 800px;
	}

	table.ticket-shard  th{
		width: 150px;
	}

	table.ticket-shard  td{
		display: flex;
		width: 800px;
	}

	.copy-btn{
		 margin: 3px auto; /* 左右のマージンをautoにして中央寄せに修正 */
		border: 3px solid transparent;
	    display: flex;
	    color: #ffffff;
	    background: #808080;
	    padding: 8px 15px;
	    cursor: pointer;
	    border-radius: 5px;
		    /* other styles */
	    align-items: center;
	    position: relative; /* bodyを相対的な位置に設定 */
	}
	.copy-btn:hover{
		background-color:#555;
	}
}


@media screen and (max-width:768px;){

	/* スマートフォン用CSS記述 */

	* {
	    box-sizing: border-box;
	}

	body {
	    background-color: #f2fffc;
	    width: 960px;
	    margin: 15px auto; /* 左右のマージンをautoにして中央寄せに修正 */
	    margin-top: 60px;
	    padding: 0;
	    font-family: 'Arial', sans-serif;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	     position: relative; /* bodyを相対的な位置に設定 */
	}

	h1 {
	    text-align: center;
	}

	h2 {
	    text-align: center;
	}

	.btn {
	    text-decoration: underline;
	}


	/*テーブル設定*/

	table{
		border: 3px solid #a9a9a9;
	    width: 700px;
	    margin: 20px;
	}

	table th {
	    background-color: #99FFCC;
	    width: 250px;
	    color: cadetblue;
	}

	table td {
	    background-color: #f0fff0;
	    width: 550px;
	}

	table th,
	table td {
	    border-bottom: 2px solid #a9a9a9;
	    padding: 10px; /* 枠線指定 */
	}

	table tr:last-child * {
	    border-bottom: none;
	}

	.home-btn{
		/* その他ボタン */
	    border: 3px solid transparent;
	    margin: 15px auto; /* 左右のマージンをautoにして中央寄せに修正 */
	    display: flex;
	    color: #ffffff;
	    background: #808080;
	    padding: 8px 10px;
	    cursor: pointer;
	    border-radius: 5px;
	    /* other styles */
	    align-items: center;
	    position: relative; /* bodyを相対的な位置に設定 */
	}
	.home-btn:hover{
		background-color:#555;
	}


	.return-btn {
	    /* 戻るボタンのスタイル */
	    position: absolute; /* 絶対位置に配置 */
	    top: 15px; /* 上から15pxの位置に配置 */
	    left: 15px; /* 左から15pxの位置に配置 */
	    margin-bottom: 10px;
	    background-color: #808080;
	    color: white;
	    padding: 10px 15px;
	    border: none;
	    cursor: pointer;
	    border-radius: 20px;
	}
	.return-btn:hover{
		background-color:#555;
	}

	.square_btn {
		/* ☒ボタンのスタイル */
	    display: block;
	    position: relative;
	    width: 30px;
	    height: 30px;
	    border: 2px solid #333;
	    background: #fff;
	    float: right;
	}

	.square_btn::before,
	.square_btn::after {
	    content: "";
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    width: 3px;
	    height: 27px;
	    background: #333;
	}

	.square_btn::before {
	    transform: translate(-50%, -50%) rotate(45deg);
	}

	.square_btn::after {
	    transform: translate(-50%, -50%) rotate(-45deg);
	}




	/*--- login.jspのスタイル ---*/
	.login-box {
	    width: 400px;
	    margin: 30px auto;
	    padding: 20px;
	    border: 1px solid #ccc;
	    box-shadow: 0px 0px 10px #ccc;
	}

	.login-box>form {
	    display: flex;
	    flex-direction: column;
	}

	.login-input {
	    margin-top: 10px;
	}

	.login-box>label {
	    margin-bottom: 5px;
	}

	.login-email,
	.login-pass {
	    padding: 10px;
	    margin-top: 5px;
	    width: 100%;
	    box-sizing: border-box;
	}

	.login-btn {
	    margin-top: 20px;
	    text-align: center;
	}

	.login-btn input {
	    padding: 10px 20px;
	    background-color: #000;
	    color: white;
	    border: none;
	    cursor: pointer;
	}

	.login-btn input:active {
	    top: 3px;
	    box-shadow: none;
	}

	.registration {
	    margin-top: 20px;
	    text-align: center;
	}

	.registration a {
	    text-decoration: none;
	    color: #000;
	    font-weight: bold;
	}

	.registration a:hover {
	    text-decoration: underline;
	}


	/*--- main.jspのスタイル ---*/
	.tournament {
	    text-align: center;
	    font-size: 30px;
	    margin: 20px 0;
	    display: flex;
	    justify-content: center;
	}

	.schedule {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin-bottom: 10px;
	    flex-wrap: wrap;
	}

	.schedule > div {
	    margin: 0 10px;
	}

	.date-center {
	    text-align: center;
	    font-size: 18px;
	    margin: 20px 0;
	}

	.main_display {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	}



	/*--- memberInformation.jspのスタイル ---*/

	.member-selection {
	    display: flex;
	    gap: 10px; /* ボタン間の隙間を設定 */
	}

	.member-selection form {
	    margin: 0; /* フォームの余白をリセット */
	}

	.memberinfo-else {/*ログイン前*/
	    font-size: 20px;
	}

	.member-selection button {
	    /* ボタンのスタイル */
	    padding: 10px 15px;
	    background-color: #808080;
		width: 120px;
	    color: white;
	    border: none;
	    cursor: pointer;
	    border-radius: 5px;
	    margin: 50px;
	}

	.member-selection button:hover {
	    background-color: #555;
	}


	/*--- purchaseHistory.jspのスタイル  ---*/
	.history-list{
		text-align:center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 800px;
	}

	.history-list td{
		text-align:center;
	    white-space: normal; /* テキストが領域外にはみ出した場合、折り返し表示する */
	}


	/*--- signup.jspのスタイル ---*/
	.container {
	    width: 600px;
	    margin: 30px auto;
	    padding: 20px;
	    border: 1px solid #ccc;
	    box-shadow: 0px 0px 10px #ccc;
	}

	.container>form {
	    display: flex;
	    flex-direction: column;
	}

	.signup-container .signup-label,
	.signup-label {
	    margin-top: 10px;
	}

	.signup-container .custom-input,
	.custom-input {
	    padding: 10px;
	    margin-top: 5px;
	}

	.signup-container .submit-button,
	.submit-button {
	    margin-top: 20px;
	    padding: 10px 20px;
	    background-color: #000;
	    color: white;
	    border: none;
	    cursor: pointer;
	}


	/*--- ticketApplication.jspのスタイル ---*/
	.content-selection {
	    /* h2のスタイル */
	    background-color: #ffe4c4;
	    color: #808080;
	    padding: 7px;
	    font-size: 25px;
	    margin-top: 0;
	    border-radius: 15px;
	    text-align: left;
	}

	.seat-selection {
	    background-color: #fff5ee;
	    width: 700px;
	    margin-left: 75px;
	    border: 3px solid #a9a9a9;
	    border-radius: 20px;
	     margin: 15px auto; /* 左右のマージンをautoにして中央寄せに修正 */
	}

	.ticket-element {
	    margin: 18px;
	}

	.tiket-soldout {
	    color: #dc143c;
	    font-size: 20px;
	}

	.choice-button {
	    margin: 10px;
	    border: 3px solid transparent;
	    color: #ffffff;
	    background: #808080;
	    padding: 10px 15px;
	    cursor: pointer;
	    border-radius: 20px;
	    /* other styles */
	}

	.choice-button:hover {
	    background-color: #555;
	}


	/*---ticketConfirm.jspのスタイル ---*/
	.ticket-selectmenu  {
	    /* ボタンのスタイル */
	    padding: 10px 15px;
	    background-color: #808080;
		width: 170px;
	    color: white;
	    border: none;
	    cursor: pointer;
	    border-radius: 5px;
	    margin: 50px;
	    flex: 1; /* ボタンを同じサイズにするための追加 */
	    margin: 20 5px; /* ボタンの間に余白を設定 */
	}

	.ticket-selectmenu:hover {
	    background-color: #555;
	}

	/* ボタンを横並びにするためのスタイル */
	.button-container {
	    display: flex;
	    justify-content: space-between;
	}


	/*--- ticketDisplay.jspのスタイル ---*/
	.ticket-list {
	    border: 3px solid #a9a9a9;
	    box-shadow: 0px 0px 15px #a9a9a9;
	    margin: 20px;
	    margin-left: 75px;
	    border-left: solid 15px #696969;
	    padding: 10px;
	    width: 800px;
	    background: #f0f8ff;

	}

	.ticket-show {
	  display: flex;
	  justify-content: space-between;
	}

	.ticket-item {
	  width: 70%;
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}

	.ticket-btn {

	}
	.ticketElement-btn{
	    border: 3px solid transparent;
	    margin: 5px;
	    margin-right: 30px;
	    color: #ffffff;
	    background: #808080;
	    padding: 5px 5px;
	    cursor: pointer;
	    border-radius: 5px;
	    width: 80px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.ticketElement-btn:hover{
		background-color:#555;
	}



	/*--- tiketPurchase.jspのスタイル ---*/
	.pre-order {
	    border: 3px solid #a9a9a9;
	    box-shadow: 0px 0px 15px #a9a9a9;
	    margin: 20px;
	    margin-left: 75px;
	    border-left: solid 15px #696969;
	    padding: 10px;
	    width: 800px;
	    background: #f0f8ff;
	    font-weight: bold;
	}

	.now-reception {
	    color: #008080;
	    background-color: #ccffcc;
	    font-weight: bold;
	    margin-right: 500px; /* テキストとボタンの間隔を調整 */
	    margin-left: 20px;
	    border: 2px solid #66cdaa;
	    padding: 5px;
	}


	.before-reception {
	    color: #696969;
	    background-color: #ffcccc;
	    font-weight: bold;
	    margin-right: 500px; /* テキストとボタンの間隔を調整 */
	    margin-left: 20px;
	    border: 2px solid #ffcccc;
	    padding: 5px;
	}

	.apply {
	    display: flex;
	    align-items: center;
	}

	.apply-btn {
	    margin-right: 0; /* ボタンを右端に配置 */
	    margin-bottom: 10px;
	    background-color: #808080;
	    color: white;
	    padding: 15px 25px;
	    border: none;
	    cursor: pointer;
	    border-radius: 5px;
	}
	.apply-btn:hover{
		background-color:#555;
	}


	/*--- ticketSelectAll.jspのスタイル ---*/
	.seat-type-img{
		width:80%;
		height:10%;
	}


	/*--- ticketShare.jspのスタイル ---*/
	.shared-link{
	    text-align:center;
	    width: 85%; /*親要素いっぱい広げる*/
	    padding: 10px 10px; /*ボックスを大きくする*/
	    font-size: 16px;
	    border-radius: 3px; /*ボックス角の丸み*/
	    border: 2px solid #ddd; /*枠線*/
	    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
	}

	.ticket-shard{
		width: 800px;
	}

	table.ticket-shard  th{
		width: 150px;
	}

	table.ticket-shard  td{
		display: flex;
		width: 800px;
	}

	.copy-btn{
		 margin: 3px auto; /* 左右のマージンをautoにして中央寄せに修正 */
		border: 3px solid transparent;
	    display: flex;
	    color: #ffffff;
	    background: #808080;
	    padding: 8px 15px;
	    cursor: pointer;
	    border-radius: 5px;
		    /* other styles */
	    align-items: center;
	    position: relative; /* bodyを相対的な位置に設定 */
	}
	.copy-btn:hover{
		background-color:#555;
	}
}