/* ========================================================================== */

		/* PC用CSS記述 */

	.nav__item{
		  font-family: "游教科書体","YuKyokasho"; font-weight: bold;
		  margin:15px ;
	}

	body{
		  position: fixed;
		  z-index: 100000;
	}


	/* ドロップダウンメニューのスタイル */
	.dropdown {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	    z-index: 1;
	}

	 .dropdown a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}

	.dropdown a:hover {
	    background-color: #f1f1f1;
	}

	/* マウスオーバー時にドロップダウンメニューを表示 */
	.nav__item:hover .dropdown {
	    display: block;
	}

	/* ========================================================================== */

	/* aタグ(URL)の下線を削除 */
	a {
	    text-decoration: none;
	    color: #4b4b4b;
	}

	.nav-menu {
	    /* ulタグの文頭の「・」を削除 */
	    list-style: none;
	    margin: 0;
	    justify-content: flex-end;
	    align-items: center;

	    /* 項目を横並びに */
	    display: flex;
		/* ナビゲーションメニューのスタイル */
	    list-style-type: none;
	    padding: 0;
	    padding-right: 30px;

	}

	* {
	    box-sizing: border-box;
	}

	.cust-header {
	    position: fixed; /*← fixedで固定 */
	    width: 100%;
	    height: 50px;
	    background-color: #e4ffd7;
	    top: 0;
	    left: 0;
	}

	.logo {
	    margin: 10px;
	    align-items: center;
	}


	.logo-image {
	    display: flex;
	    padding: 0;
	    margin-left: 10px;
	    height: 30px;

	    /* 必要に応じてwidthを追加 */
	}



	/* 追加設定 */
	.cust__wrapper {

	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding-top: 0;
	    padding-bottom: 0;
	}






@media screen and (max-width: 1050px){
	/* スマートフォン用CSS記述 */

	.nav__item{
		  font-size: 28px;
		  margin-left: 0;
	}


	body{
		  margin-left: 0;
	}

	/* ========================================================================== */

	li {
	    margin: 0 30px 0 0; /* 右側のmarginを30pxに設定 */
	}

	.logo {
	    margin: 20px;
	}

	.logo-image {
	    margin-left: 2px;
	    height: 65px;
	    /* 必要に応じてwidthを追加 */
	}

	/* ナビゲーションメニューのスタイル */
		.nav-menu {
	    justify-content: flex-end;
	    padding-right: 20px;
	    list-style-type: none;
	}

	.cust-header {
	    height: 100px;
	}

}
