@CHARSET "UTF-8";
/* ========================================================================== */






/* ドロップダウンメニューのスタイル */
.nav-menu li .dropdown {
    display: none;
    position: absolute;
 	background-color: #f9f9f9;
   	min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-menu li .dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav-menu li .dropdown a:hover {
    background-color: #f1f1f1;
}

/* マウスオーバー時にドロップダウンメニューを表示 */
.nav-menu li:hover .dropdown {
    display: block;
}


/* ========================================================================== */


/* aタグ(URL)の下線を削除 */
a{
	text-decoration: none;
	color: #4b4b4b;
}

li {
	text-align: right;
	margin: 0 30px 0 0; /* 右側のmarginを30pxに設定 */
	font-size: 14px;
}

*{
	box-sizing: border-box;
}
.logo-image {
	
	margin: 0; padding: 0;
	height: 20px;
	/* 必要に応じてwidthを追加 */

}

.customer-header{

	background-color: #def7ff;

	/* 位置を画面の上「top」から「0px」に固定 */
	position: relative;

	/* 縦方向の中心に置く */
	display: flex;
	align-items: center;
}


.customer-header__wrapper{
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: frex;
	justify-content: space-between;
	padding-top: 0;
	padding-bottom: 0;
}

.nav__header{
	list-style: none;
	margin: 0;
	display: flex;
}

 /* ナビゲーションメニューのスタイル */
.nav-menu {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__wrapper{
	display: flex;
}

.nav__item a{
	display: block;
	padding: 1.5rem,1rem;
}

.nav__toggle{
	display: none;
}















