@CHARSET "UTF-8";

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    width: 960px;
    margin: 15px;
    margin-top: 60px;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
}

.btn {
    text-decoration: underline;
}


/*--- main.jspのスタイル ---*/
.tournament {
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}

.schedule {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.schedule > div {
    margin: 0 10px;
}

.date-center {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}
/*--- login.jspのスタイル ---*/


.login-box {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
}

.login-title {
    text-align: center;
}

.login-box>form {
    display: flex;
    flex-direction: column;
}

.login-input {
    margin-top: 10px;
}

.login-box>label {
    margin-bottom: 5px;
}

.login-email,
.login-pass {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

.login-btn {
    margin-top: 20px;
    text-align: center;
}

.login-btn input {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

.login-btn input:active {
    top: 3px;
    box-shadow: none;
}

.registration {
    margin-top: 20px;
    text-align: center;
}

.registration a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.registration a:hover {
    text-decoration: underline;
}


/*--- signup.jspのスタイル ---*/
.container {
    width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
}

.container>form {
    display: flex;
    flex-direction: column;
}

.signup-container .signup-label,
.signup-label {
    margin-top: 10px;
}

.signup-container .custom-input,
.custom-input {
    padding: 10px;
    margin-top: 5px;
}

.signup-container .submit-button,
.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

/*--- ☒ボタンのスタイル ---*/
.square_btn {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #333;
    background: #fff;
    float: right;
}

.square_btn::before,
.square_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 27px;
    background: #333;
}

.square_btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.square_btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}


/*--- tiketPurchase.jspのスタイル ---*/
.pre-order {
	border: 1px solid #a9a9a9;
    box-shadow: 0px 0px 15px #a9a9a9;
	margin: 20px;
	margin-left:75px;
    border-left: solid 15px #696969;
    padding: 10px;
    width: 800px;
    background: #fffafa;
    font-weight: bold;
 }

 .now-reception{
 	color: #008080;
 	background-color: #ccffcc;
 	font-weight: bold;
 	margin-right: 500px; /* テキストとボタンの間隔を調整 */
 	margin-left: 20px;
 	border: 2px solid #66cdaa;
 	padding: 5px;
 }

 .before-reception{
 	color: #696969;
 	background-color: #ffcccc;
 	font-weight: bold;
 	margin-right: 500px; /* テキストとボタンの間隔を調整 */
 	margin-left: 20px;
 	border: 2px solid #ffcccc;
 	padding: 5px;

 }

.apply{
    display: flex;
    align-items: center;

}

.apply-btn{
    margin-right: 0; /* ボタンを右端に配置 */
    margin-bottom: 10px;
    background-color: #808080;
    color: white;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}
