@CHARSET "UTF-8";

@media screen and (min-width:768px) {

	/* PC用CSS記述 */
	.return-btn {
	    /* 戻るボタンのスタイル */
	    position: absolute; /* 絶対位置に配置 */
	    top: 15px; /* 上から15pxの位置に配置 */
	    left: 15px; /* 左から15pxの位置に配置 */
	    margin-bottom: 10px;
	    background-color: #808080;
	    color: white;
	    padding: 10px 15px;
	    border: none;
	    cursor: pointer;
	    border-radius: 20px;
	}
	.return-btn:hover{
		background-color:#555;
	}

	.home-btn{
		/* その他ボタン */
	    border: 3px solid transparent;
	    margin: 15px auto; /* 左右のマージンをautoにして中央寄せに修正 */
	    display: flex;
	    color: #ffffff;
	    background: #808080;
	    padding: 8px 10px;
	    cursor: pointer;
	    border-radius: 5px;
	    /* other styles */
	    align-items: center;
	    position: relative; /* bodyを相対的な位置に設定 */
	}
	.home-btn:hover{
		background-color:#555;
	}


	body {
	    background-color: #f2fffc;
	    width: 960px;
	    margin: 15px auto;
	    margin-top: 60px;
	    margin-right: 60px;
	    padding: 0;
	    font-family: 'Arial', sans-serif;
	    align-items: center;
	    position: relative;
	    flex-direction: column;
	}

	/*--- アニメーション---*/
	.v-enter-active,.v-leave-active{
		transition: 0.5s;
	}

	.v-enter,.v-leave-to{
		opacity: 0;
		transform: translateX(20px);
	}

	li{
		list-style:none;
	}

	/*--- 座席横に並べるクラス ---*/
	.seat-img {
		float: left;
	}

	/*--- floatを解除するクラス ---*/
	.clear {
		clear: both;
	}


	h1 {
	    text-align: center;
	}

	.seat{
		  margin: 0 auto;
	}
}


@media screen and (max-width:768px) {

	/* スマートフォン用CSS記述 */


}
